@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

/* navigation bar upset */

:root {
    --color-navigation: #2e2e2e;
    --left-color: green;
    --middle-color: coral;
    --footer-color: #2e2e2e;
    --body-color: yellow;
    --right-color: #e7dd96;
}

.navigation-bar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--color-navigation);
    justify-content: space-between;
    padding-top: 10px;
}

.left-side{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.middle-side{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
}

.social-media {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    

}

.languages {
    height: 50px;
    width: 150px;
    display: flex;
    gap: 10px;
}

.welcome {
    height: 500px;
    width: 100%;
}

.bem-vindo{
    text-shadow: 2px 2px 5px gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: white;
}

p {
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

.article-part {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background-color: skyblue;
    padding-top: 150px;
}

/* 
    Corpo do site
*/

.left-part {
    background-color: var(--left-color);
    height: 150px;
    width: 10%;
    border-radius: 5px;
    padding: 5px;
}

.right-part {
    background-color: var(--right-color);
    height: 10%;
    width: 10%;
    border-radius: 5px;
    padding: 5px;
}

.middle-part{
    background-color: var(--middle-color);
    height: 150px;
    width: 10%;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}

.div-provi {
    width: 100%;
    height: 400px;
    background-color: skyblue;
}

.bar-skills {
    width: 100%;
    height: 500px;
    background-color: #e7dd96;
}

.bar-description {
    width: 100%;
    height: 500px;
    background-color: #e7dd96;
}


/* 
    Rodapé e afins
*/

footer {
    width: 100%;
    height: 300px;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-around;
}

.final-division{
    width: auto;
    height: 50px;
    background-color: aliceblue;
}



/* 
    Links e barras de navegação
*/
